@media screen and (max-width: 650px) {

    .small img {
        width: 200px;
        height: 160px;
    }

    .image_space{
        margin: 0 auto;
        width: 200px;
    }

    .image_space button{
        width: 200px;
        margin-top: 10px;
    }

    .small h6{
        margin-top: 15px;
    }

    .small textarea{
        margin-top: 20px;
        height: 144px;
        min-width: calc(100% - 1px);
        resize: none;
    }
}

@media screen and (min-width: 650px) {
    .big img{
         width: 180px;
         height: 150px;
     }

    .image_space{
        float: left;
        margin-left: 20px;
        width: 180px;
        height: 200px;
        margin-right: 20px;
    }

    .image_space button{
        margin-top: 10px;
        width: 180px;
        height: 30px;
    }

    .big textarea{
        width: calc(100% - 230px);
        height: 144px;
        overflow: auto;
        resize: none;
    }

}

.title{
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
