.blue-btn {
  background-color: #3946f7;
  padding: 0.4rem 1.3rem;
  transition: 0.3s;
  border: none;
  outline: none;
  color: white;
}
.blue-btn:hover {
  background-color: #0a1af3;
}
.blue-btn:disabled {
  background-color: gray;
  color: white;
}

.transparent-blue-btn {
  background-color: inherit;
  padding: 0.5rem 1.3rem;
  border: none;
  outline: none;
  color: #3946f7;
  text-transform: uppercase;
}
.transparent-blue-btn:hover {
  background-color: #F0F0F0;
}
.transparent-blue-btn:disabled {
  color: grey;
  background-color: inherit;
}

.transparent-red-btn {
  background-color: inherit;
  padding: 0.5rem 1.3rem;
  border: none;
  outline: none;
  color: #FD2525;
  text-transform: uppercase;
}
.transparent-red-btn:hover {
  background-color: #F0F0F0;
}
.transparent-red-btn:disabled {
  color: grey;
  background-color: inherit;
}

.red-btn {
  background-color: #FD2525;
  padding: 0.4rem 1.3rem;
  transition: 0.3s;
  border: none;
  outline: none;
  color: white;
}
.red-btn:hover {
  background-color: #ed0202;
}
.red-btn:disabled {
  background-color: gray;
  color: white;
}

.grey-btn {
  background-color: grey;
  padding: 0.4rem 1.3rem;
  transition: 0.3s;
  border: none;
  outline: none;
  color: white;
}
.grey-btn:hover {
  background-color: #676767;
}
.grey-btn:disabled {
  background-color: gray;
  color: white;
}

.blue-input {
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  outline: none;
  padding: 0.1rem;
  resize: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.blue-input:focus {
  border-color: #3946f7;
}

.articles {
  display: flex;
  flex-wrap: wrap;
}
.articles .post {
  position: relative;
  margin: 1rem;
  border-radius: 8px;
  flex: 1 1 30rem;
  border: 1px solid;
}
@media screen and (max-width: 40rem) {
  .articles .post {
    margin: 0.5rem;
  }
}
.articles .post .user {
  display: inline-block;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}
.articles .post .user span {
  margin-left: 0.5rem;
  font-weight: bolder;
  color: #3946f7;
}
.articles .post .user img {
  vertical-align: middle;
  width: 3rem;
  height: 2.5rem;
}
.articles .post .body {
  padding: 0.1rem 0.5rem 1.7rem 0.5rem;
  border-radius: 8px;
}
.articles .post .body:hover {
  background-color: #EEEEEE;
}
.articles .post .body .container {
  margin: 0.5rem 0;
  position: relative;
  width: 100%;
  max-width: 100%;
}
.articles .post .body .container:after {
  content: "";
  display: block;
  padding-bottom: 43.75%;
}
.articles .post .body .container img {
  border-radius: 9px;
  position: absolute;
  width: 100%;
  height: 100%;
}
.articles .post .body small {
  right: 0.75rem;
  position: absolute;
  bottom: 0.5rem;
}
.articles .post .body h4 {
  font-weight: bolder;
  font-size: 1.25rem;
  margin: 0.6rem 0;
}
.articles .post .body .likes {
  display: flex;
  align-items: center;
}
.articles .post .body .likes span {
  margin-right: 0.75rem;
}
.articles .post .body .likes svg {
  margin: 0 0.5rem;
}

.empty {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
}

.paginator {
  padding: 1rem;
}

/*# sourceMappingURL=menu.module.css.map */
