.block img{
    width: 70%;
    min-width: 300px;
    max-width: 900px;
    height: 30%;
    min-height: 150px;
    max-height: 450px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}