.pagination{
    margin-left: 10px;
    height:30px;
    width: 200px;
    margin-top: 30px;
    text-align: center;
    display: inline-block;
    
}

.pagination a{
    color:black;
    background-color: #e9ecef;
    text-decoration: none;
    border: 1px solid;
    border-radius: 30%;
    padding: 5px 9px;
    display: inline;
    margin-right: 2px;
    color:black;
}

.active{
    color:blue;
    border-color: blue;
    background-color: red;
}