.h1{
    border-bottom: 1px solid #000;
    font-size: 40px;
    font-weight: 550;
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: center;
}

.form{
    margin-left: 25px;
    margin-right: 25px;
    overflow: hidden;
}

.form input{
    width: 730px;
}


.form div{
    margin-top: 30px;
}

.form button{
    margin-top: 40px;
    width: 100px;
}