.navActive{
    background-color: #F3F3F3;
    min-height: 48px;
    padding-left: 48px;
}

.x3 button{
    min-width: 33%;
}

.x4 button{
    min-width: 25%;
}

.navUnActive{
    display: none;
}

.navActive a{
    text-decoration: none;
    color: black;
}

.buttonActive{
    transform: rotate(90deg);
}