.main h4{
    margin-left: 15px;
    margin-top: 50px;
}

.preloadImg{
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
}

.comment{
    border-bottom: 1px solid;
    padding: 12px;
    padding-right: 30px;
}

.avatar{
    padding-top: 9px;
}

.commentInput{
    margin-left: 15px;
    margin-top: 30px;
}

.comment h5{
    margin-bottom: 15px;
}

.commentInput textarea{
    resize: horizontal;
    width: 500px;
    max-width: calc(100% - 15px);
    display: block;
    min-width: 250px;
}

.commentInput button{
    margin-top: 10px;
}