@media screen and (min-height: 600px) and (min-width: 640px) {
    .form {
        width: 600px;
        border: 1px solid;
        padding: 10px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        margin: auto;
    }
    .loginHeight{
         height: 330px;
     }

    .signupHeight{
        height: 375px;
    }
}

.form p{
    margin-top: 60px;
    position: absolute;
}

.form h1 {
    font-size: 40px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.loginHeight button {
    margin-top: 20px;
}

.signupHeight button{
    margin-top: 35px;
}

